<div class="container">
  <h1>お笑いネタ投稿アプリ</h1>

  <% if user_signed_in? %>
    <%= render 'shared/header' %>
    <h2>ログイン成功!</h2>
    <p>ようこそ、<%= current_user.email %>さん</p>

    <%= link_to 'ログアウト', destroy_user_session_path,
        data: { "turbo-method": :delete },
        class: 'btn btn-outline-danger' %>
  <% else %>
    <h2>ログインしてください</h2>

    <div class="d-flex gap-3 justify-content-center mt-4">
      <%= link_to '新規登録', new_user_registration_path,
          class: 'btn btn-primary' %>
      <%= link_to 'ログイン', new_user_session_path,
          class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>